environment        = "stage"
aws_region         = "us-east-1"
availability_zones = ["us-east-1a", "us-east-1b"]
vpc_cidr           = "10.30.0.0/16"
owner              = "platform-engineering"
cost_center        = "ENG-200"
alert_email        = "security@axelliant.com"
db_instance_class  = "db.t4g.small"
db_multi_az        = true
endpoint_public_access = false
